﻿<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyCrud</title>

    <link href="/fonts/font_glyphicons.css" rel="stylesheet" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.12.4.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <link href="/Content/dashboard.css" rel="stylesheet" /> 
    <script src="~/Scripts/sweetalert.js"></script>
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MyCrud</a>
        </div>
       
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/Os">Ordem Serviço <span class="sr-only">(current)</span></a></li>
            <li><a href="/Servicos">Serviços</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         

             @RenderBody()
          <div class="table-responsive"></div>
      </div>
    </div>

    @RenderSection("scripts", required: false)
  </body>
</html>



<script>
    var tipo = "@ViewBag.tipo";
    var msn = "@ViewBag.msn";
    if (tipo == "success") {
        swal("Sucesso!", msn, "success")
    }
    else if (tipo == "danger")
    {
             swal("Falha!", msn, "error")
    }
</script>