﻿
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Serviços</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>DESCRIÇÃO  </th>
                            <th>VALOR </th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@ViewBag.servicos != null)
                        {
                            foreach (var item in (IEnumerable<MyCrud.SERVICO>)@ViewBag.servicos)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DESCRICAO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VALOR)
                                </td>
                                <td>
                                    @Html.ActionLink("Selecionar", "AdicionarServico", new { id = item.ID })
                                </td>
                            </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
