﻿@model MyCrud.OS

 <table class="table">
        <tr>
            <th>DESCRIÇÃO </th>
            <th>VALOR </th>
            <th class="col-md-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" value="Adicionar">Adicionar</button></th>
        </tr>

        @if (Model != null)
        {
            foreach (var item in Model.OS_SERVICO)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SERVICO.DESCRICAO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERVICO.VALOR)
                </td>
                <td>
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.SERVICO.ID })
                </td>
            </tr>
            }
        }

    </table>