﻿@model MyCrud.SERVICO

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp  Serviços</h2>


<div class="form-group">
    @Html.LabelFor(model => model.DESCRICAO, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.DESCRICAO, new { @class = "form-control", @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.DESCRICAO)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VALOR, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.VALOR, new { @class = "form-control" , @readonly = "readonly"})
    @Html.ValidationMessageFor(model => model.VALOR)
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
