﻿@model MyCrud.SERVICO

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp  Serviços</h2>

@using (Html.BeginForm("Salvar","Servicos")) {
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.ID)

        
        <div class="form-group">
            @Html.LabelFor(model => model.DESCRICAO, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DESCRICAO, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DESCRICAO)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.VALOR, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.VALOR, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VALOR)
        </div>
       
        <p>
             @Html.ActionLink("Voltar", "Index")
            <button type="submit" class="btn btn-success pull-right pull-right"value="Save" ><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Salvar</button>
        </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
