﻿@model MyCrud.SERVICO

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ConfirmarExcluir", "Servicos"))
{
     @Html.HiddenFor(model => model.ID)
<h2><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp  Serviços</h2>

<h3>Você tem certeza que deseja excluir?</h3>
<div class="form-group">
    @Html.LabelFor(model => model.DESCRICAO, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.DESCRICAO, new { @class = "form-control", @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.DESCRICAO)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VALOR, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.VALOR, new { @class = "form-control", @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.VALOR)
</div>

    <p>
        @Html.ActionLink("Voltar", "Index")
        <button type="submit" value="Delete" class="btn btn-danger pull-right"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Confirmar</button>

    </p>
}
