﻿@model MyCrud.SERVICO

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp  Serviços</h2>

@using (Html.BeginForm("Criar", "Servicos"))
{
    @Html.ValidationSummary(true)

     
        <div class="form-group">
            @Html.LabelFor(model => model.DESCRICAO, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DESCRICAO, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DESCRICAO)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VALOR, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.VALOR, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VALOR)
        </div>
       
        <p>
           @Html.ActionLink("Voltar", "Index")
            <button type="submit" class="btn btn-success pull-right" value="Criar" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Novo</button>
        </p>
        
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
