﻿@model MyCrud.OS

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Ordem Serviço</h2>

  
     <table class="table">
        <tr>
            <th>DESCRIÇÃO </th>
            <th>VALOR </th>
        </tr>

        @if (Model != null)
        {
            foreach (var item in Model.OS_SERVICO)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SERVICO.DESCRICAO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERVICO.VALOR)
                </td>
            </tr>
            }
        }

    </table>

      <div class="form-group">
        @Html.LabelFor(model => model.INICIO, new { @class = "control-label"})
         @Html.TextBoxFor(model => model.INICIO, new { @class = "form-control",  @readonly= "readonly" })
        @Html.ValidationMessageFor(model => model.INICIO)
    </div>
  
    <div class="form-group">
        @Html.LabelFor(model => model.FIM)      
        @Html.TextBoxFor(model => model.FIM, new { @class = "form-control",  @readonly= "readonly" })
        @Html.ValidationMessageFor(model => model.FIM)
    </div>   
    <div class="form-group">
        @Html.LabelFor(model => model.COD_EQUIPAMENTO)   
        @Html.TextBoxFor(model => model.COD_EQUIPAMENTO, new { @class = "form-control",  @readonly= "readonly" })
        @Html.ValidationMessageFor(model => model.COD_EQUIPAMENTO)
    </div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>
