﻿@model IEnumerable<MyCrud.OS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Ordem Serviço</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.INICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COD_EQUIPAMENTO)
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.INICIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COD_EQUIPAMENTO)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.ID })
        </td>
    </tr>
}

</table>
<a href="/Os/Novo" class="btn btn-primary pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Novo</a>
