﻿@model MyCrud.OS

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Ordem Serviço</h2>

@using (Html.BeginForm("Criar", "Os"))
{
    @Html.ValidationSummary(true)

    Html.RenderPartial("/Views/Shared/_PartialServico.cshtml");

   

    <div class="form-group">
        @Html.LabelFor(model => model.INICIO, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.INICIO, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.INICIO)
    </div>
  
    <div class="form-group">
        @Html.LabelFor(model => model.FIM)
        @Html.TextBoxFor(model => model.FIM, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FIM)
    </div>   
    <div class="form-group">
        @Html.LabelFor(model => model.COD_EQUIPAMENTO)
        @Html.TextBoxFor(model => model.COD_EQUIPAMENTO, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.COD_EQUIPAMENTO)
    </div>

     
    <script>
        $(function () {
            $('#INICIO').datepicker({ dateFormat: 'dd/mm/yy' });
            $('#FIM').datepicker({ dateFormat: 'dd/mm/yy' });
        });
    </script>

    <p>

        @Html.ActionLink("Voltar", "Index")
        <button type="submit" class="btn btn-success pull-right" value="Criar"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Novo</button>
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@{
    Html.RenderPartial("/Views/Shared/_PartialModal.cshtml");
}